@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Baloo+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Tillana:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 26, 26);
}

.main {
    width: 100%;
    height: 600vh;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

.home {
    /* position: absolute; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0px);
    }



}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }

}

/* @keyframes buttonanm {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

} */

.head-line {
    animation: slideRight 2s 1 ease-out forwards;
}

.head-line1 {
    animation: slideLeft 2s 1 ease-out forwards;
}

.head-line,
.head-line1 {
    color: rgb(250, 250, 250);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 48px;
    text-align: center;

}

.head-line span {
    color: rgb(255, 77, 90);
}

.vmw {
    color: rgb(255, 77, 90);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 2px;
    border: 2px solid rgb(255, 77, 90);
    padding: 5px 20px;
    box-sizing: border-box;
    margin: 20px 0px;
    transition: transform 0.3s ease;
    animation: buttonanm 2s 1 forwards;
}


.vmw:hover {
    cursor: pointer;
    transform: scale(1.1) !important;
}




.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(40, 40, 40, 0.95);
    height: 40px;
    /* min-height: 20px; */
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 27px 85px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px;
    z-index: 999999;


}

.nav-bar a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;

}

.nav-bar ul {
    display: flex;
    align-items: center;
    gap: 30px;
    letter-spacing: 1.5px;
    list-style-type: none;
    padding-inline-start: 40px;

}

.nav-bar a:hover {
    color: rgb(255, 77, 90);
}


.head {
    text-align: center;

    font-size: 40px;
    color: rgb(250, 250, 250);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    /* background-color: rgb(255, 77, 90); */
    max-width: max-content;
    margin: 50px auto;
    /* border-bottom: 14px solid #ff4d5a; */


}

.about {
    height: 100vh;
    width: 100%;

}

.about .content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* background-color: yellow; */
    height: 100vh;



}

.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* line-height: 20px; */
    min-width: 50%;
    max-height: 100vh;
    margin-top: 5%;
    /* background-color: aliceblue; */

}

.profile-pic p {
    max-width: 80%;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: rem; */
    color: rgb(250, 250, 250);

}

.skills img {
    height: 50px;
}

.skills {
    /* background-color: blue; */
    height: 100vh;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.innerimg {
    position: relative;
    border: double 2px transparent;
    border-image-slice: 1;
    border-width: 2px;
    /* border: 2px solid white; */
    background-image: linear-gradient(#1a1a1a, #1a1a1a), radial-gradient(circle at top left, #51a2e9, #ff4d5a);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
    height: 80px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.skl {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    /* justify-content: space-evenly; */

}

@keyframes slideRightProfile {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.profile-pic {
    animation: slideRightProfile 2s 1 ease-out forwards;
}

.skills1 {
    animation: pulse-fade 2s 1 ease-out forwards;
}

@keyframes pulse-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skills1 .image1 {
    animation-delay: 0s;
}

.skills1 .image2 {
    animation-delay: 1s;
}

.skills1 .image3 {
    animation-delay: 0s;
}

/* i{
     color: rgb(255, 77, 90);
   
} */

.fa-square-js {
    color: #FFD93D;
}

.fa-html5 {
    color: #FF714B;
}

.fa-database {
    color: #1C6EA4;

}

.fa-c {
    color: #7A85C1;

}

.fa-css3-alt {
    color: #33A1E0;

}

.fa-chart-bar {
    color: #FFE100;
}

.fa-square-git {
    color: #E43636;
}

.fa-node-js {
    color: #8AA624;
}

.fa-python {
    color: #0BA6DF
}

.fa-aws {
    color: #fff;
}

.myp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1.0);

}

.myp {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 5px darkgray;


}

.myp img:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}

.skills h5 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.skills1 {
    animation: pulse-fade 2s 1 ease;
}

.skills1:nth-child(1) {
    animation-delay: 0.4s;
}

.skills1:nth-child(2) {
    animation-delay: 3s;
}

.skills1:nth-child(3) {
    animation-delay: 5s;
}

.project {
    height: 100vh;
    max-width: 100%;
    background-color: white;
}

.contact {
    height: 100vh;
    max-width: 100%;

}

.contact-content {
    max-width: 490px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: yellow;
}

input{
    width: 28rem;
    padding: 5px;
}
.contact-content .form form{
    padding-block-start: 10px;
    
}
.contact-content .form form input{
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.Contact_form-Msg{
    width: 500px;
    resize: none;
    border: none;
    color: inherit;
    background-color: #282828;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;
    border-left: 2px solid transparent;
    border-radius: 0;
}
